@{
  ViewData["Title"] = "Entity Framework";
}
<h2 class="text-center">Entity Framework</h2>
<ul>
  <li><a asp-controller="Entity" asp-action="CategoriesList">Categories</a></li>
  <li><a asp-controller="Entity" asp-action="ProductsList">Products</a></li>
  <li><a asp-controller="Entity" asp-action="ProductsPagination" asp-route-pageNumber="1">Products Pagination</a></li>
</ul>
