@model Web.Models.PeliculaCrearEditarViewModel
@{
  ViewData["Title"] = "Movie Save";
  string FlashClass = (string) TempData["FlashClass"];
  string FlashMessage = (string) TempData["FlashMessage"];
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Repository" asp-action="Index">Repository Pattern</a></li>
    <li class="breadcrumb-item">
      <a asp-controller="Repository" asp-action="MoviesList" asp-route-page=1>All Movies</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">@ViewBag.FormTitle Movie</li>
  </ol>
</nav>

<h2 class="text-center">@ViewBag.FormTitle Movie</h2>

@if (FlashClass != null)
{
  <div class="alert alert-@FlashClass alert-dismissible fade show" role="alert">
    @FlashMessage
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
}

<div class="row">
  <form asp-controller="Repository" asp-action="MovieSave" method="post">
    <input type="hidden" asp-for="Pelicula.Id" />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
      <label asp-for="Pelicula.TematicaId" class="control-label"></label>
      <select asp-for="Pelicula.TematicaId" type="text" class="form-control" asp-items="Model.Tematica"></select>
      <span asp-validation-for="Pelicula.TematicaId" class="text-danger"></span>
    </div>

    <div class="form-group">
      <label asp-for="Pelicula.Nombre" class="control-label"></label>
      <input asp-for="Pelicula.Nombre" type="text" class="form-control" placeholder="Enter movie title">
      <span asp-validation-for="Pelicula.Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
      <label asp-for="Pelicula.Descripcion" class="control-label"></label>
      <textarea asp-for="Pelicula.Descripcion" class="form-control" placeholder="Enter product description"></textarea>
      <span asp-validation-for="Pelicula.Descripcion" class="text-danger"></span>
    </div>

    <hr />
    <button type="submit" class="btn btn-primary">
      <i class="fas fa-plus"></i> @ViewBag.FormTitle
    </button>
  </form>
</div>