<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Frontent</title>
  <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
  <h1>Application Title</h1>
  @* View Content *@
  @RenderBody()
  @* /View Content *@

  <script src="~/js/functions.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>