@model Web.Models.PaypalViewModel;
@{
  ViewData["Title"] = "Payment Gateways";
}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Gateway" asp-action="Index">Payment Gateways</a></li>
    <li class="breadcrumb-item active" aria-current="page">Paypal</li>
  </ol>
</nav>

<h2 class="text-center">Gateway Paypal Implementation</h2>
<ul>
  <li><strong>Product:</strong> Coffe Table</li>
  <li><strong>Value:</strong> $100.00</li>
  <li><strong>Quantity:</strong> 2</li>
  <li><strong>Buy Order:</strong> @Model.PaypalOrder.Id</li>
  <li><strong>Token: </strong> @Model.PaypalToken.AccessToken</li>
  <li><strong>URL: </strong> https://www.sandbox.paypal.com/checkoutnow?token=@Model.PaypalOrder.Id</li>
</ul>
<form action="#" method="post" name="form">
  <input type="hidden" name="token_ws" id="token_ws" value="@Model.PaypalToken.AccessToken" />
  <a href=" https://www.sandbox.paypal.com/checkoutnow?token=@Model.PaypalOrder.Id" class="btn btn-warning">
    <i class="fas fa-dollar-sign"></i> Pay
  </a>
</form>
