@{
  ViewData["Title"] = "Payment Gateway";
}
<h2 class="text-center">Payment Gateway</h2>
<ul>
  <hr />
  <li>
    <a asp-controller="Gateway" asp-action="GatewayWebpay" class="p-2 link-secondary">
      <i class="fas fa-dollar-sign"></i> Transbank Webpay
    </a>
  </li>
  <hr />
  <li>
    <a asp-controller="Gateway" asp-action="GatewayPaypal" class="p-2 link-secondary">
      <i class="fab fa-paypal"></i> Paypal
    </a>
  </li>
  <hr />
  <li>
    <a asp-controller="Gateway" asp-action="GatewayStripe" class="p-2 link-secondary">
      <i class="fab fa-stripe"></i> Stripe
    </a>
  </li>
</ul>
