@{
  ViewData["Title"] = "Security";
}
<h2 class="text-center">Repository Pattern</h2>
<ul>
  <li><a asp-controller="Security" asp-action="SecurityRegister">Register</a></li>
  <li><a asp-controller="Security" asp-action="SecurityLogin">Login</a></li>
</ul>
