@{
  ViewData["Title"] = "Error 404";
}

<div class="text-center">
  <h1>Oops. Page not found - Error 404</h1>
  <img src="~/images/elite.jpg" alt="404" width="500" class="img-fluid align-self-center" />
</div>