@{
  ViewData["Title"] = "Utils";
}
<h2 class="text-center">Utils</h2>
<ul>
  <li><a asp-controller="Utils" asp-action="UtilsExample">Utils Library</a></li>
  <li><a asp-controller="Utils" asp-action="UtilsExcel">Utils Excel</a></li>
  <li><a asp-controller="Utils" asp-action="UtilsQr">Utils QR</a></li>
  <li><a asp-controller="Utils" asp-action="UtilsEmail">Utils Email</a></li>
</ul>
