@{
  ViewData["Title"] = "Utils";
}
<div class="text-center">
  <h2>Utils Example</h2>
  <p>
    Static Method Call From Utils Library: <strong>@Web.Helpers.Utils.StaticMethod("Hello World")</strong>
  </p>
</div>
