@{
  ViewData["Title"] = "Utils";
}
<h2 class="text-center">Utils QR</h2>
<p>
  <img src="https://chart.googleapis.com/chart?chs=150x150&amp;cht=qr&amp;chl=@ViewBag.MyText&amp;choe=UTF=8" alt="QR">
</p>
